/* Desktops */
@media (max-width:1199.98px){
    .container {
        width: 80%;
        margin: auto;
    }
    li a i {
        display: none !important;
    }
    button{
        padding: 15px 25px;
        
    }
    .title h2 {
        font-size: 60px;
    }
    .service__item img {
        width: 100%;
    }
}

/* Tablets */
@media (max-width: 991.98px){
    li a i {
        display: none !important;
    }
    nav li a span {
        font-size: 15px;
    }
    nav li {
        padding: 55px 10px;
    }
    button {
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel__right .img{
        width: 100%;
        margin-left: 40px;
        
    }
   
    .service__item img{
        width: 100%;
    }
    .title h2 {
        font-size: 50px;
    }
    .number__item p:first-of-type{
        font-size: 50px;
    }
    .plan__item h3{
        font-size: 30px;
    }
    .plan__item li{
        font-size: 15px;
    }
    
}

/* Mobile */
@media (max-width: 575.98px){}